**/sentiment/function
**/sentiment/*terraform*
/sentiment/function.zip
/sentiment/pvars.tfvars

**/removalwatch/function
**/removalwatch/*terraform*
/removalwatch/function.zip
/removalwatch/pvars.tfvars
